<div id="Friends">
    <form name="f1" method="post" action="Request.php" id="f1">
        <table>
            <tr>
               <td>
                    <input type="submit" name="Send Request" value="Send Request" style="font-size:18px; " />
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </td>
                <td>
                    <input type="submit" name="New Request" value="New Request" style="font-size:18px; " />
                </td>
                </td>
            </tr>
            </table>
    </form> 
</div>