
{% extends 'temp/user.html' %}
{% block base %}

   <body>
      <h1 align="center">view news</h1>
      <div class="container">
      <table class="table table-bordered">
         <tr align="center">

    <td><b>NEWS</b></td>       <td><b>DATE</b></td>

<td><b>IMAGE</b></td>
         </tr>
           {% if objval %}
          {% for obj in objval %}
         <tr align="center">
            <td>{{ obj.news }}</td>
            <td> {{ obj.date  }}</td>
              {% if obj.fake == 'Fake News Identified By Admin' %}

              <td style="color: red;font-weight: bolder">{{ obj.fake }}</td>

                 {% else %}
                  <td style="color: black;font-weight: bolder">{{ obj.fake }}</td>
             {% endif %}

                <td> <img src="/static/{{ obj.img  }}" width="150"></td>
         <td><a href="{% url 'reason' idd=obj.nid %}" class="btn btn-primary">REPORT</a> </td>
         </tr>
          {% endfor %}
      {% endif %}
         </table>
      </div>
   </body>

{% endblock %}