{% extends 'temp/index.html' %}
{% block admin %}
<html>
<head></head>
<title>RE</title>>
<body>
	<h1 align="center">REGISTRATION</h1>
<table align="center">
    <form method="post">
        {% csrf_token %}

	<tr>
		<td>NAME</td>
		<td><input type="text" name="nam"></td>
	</tr>
	<tr>
		<td>PHONE NUMBER</td>
		<td><input type="number" name="ph"></td>	</tr>
		<tr>
			<td>EMAIL</td>
			<td><input type="text" name="em"></td>		</tr>
			<tr>
				<td>PASSWORD</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
                <td></td>
				<td><input type="submit" name="r" value="REGISTER" class="btn btn-primary"></td>
			</tr>
        </form>
		</table>
	</body>
	</html>
{% endblock %}