{% extends 'temp/user.html' %}
{% block base %}
<div id="pr_manager">
<h1 align="center">UPLOAD VIDEO</h1>
    <form method="post" enctype="multipart/form-data">
        <form method="post">
            {% csrf_token %}
        <table>
            <tr>
               <td>VIDEO UPLOAD</td>
                <td>
                    <input type="file" id="upload" accept="video/*" class="form-control" name="video" value="select file">
                    </tr>   
                    <tr>
                        <td></td>
                        <td>
                    <input type="submit" name="upload" value="upload" style="font-size:18px; " />
                </td>
            </tr>
        </table>
        </form>
    </form> 
</div>
{% endblock %}